# Ini adalah file contoh. Salin file ini ke .env
# dan isi dengan nilai Anda yang sebenarnya.
# JANGAN masukkan file .env yang asli ke dalam Git.

# --- KONFIGURASI PENTING ---
# Anda bisa membuatnya dengan `openssl rand -hex 32` di terminal
SECRET_KEY=

# Ganti USER, PASSWORD, HOST, PORT, dan DB_NAME dengan milik Anda
# Contoh untuk localhost: DATABASE_URL="postgresql://postgres:password123@localhost:5432/daashtics_db"
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB_NAME"

# --- KONFIGURASI GMAIL ---
MAIL_SERVER="smtp.gmail.com"
MAIL_PORT=465
MAIL_USE_TLS=False
MAIL_USE_SSL=True
MAIL_USERNAME="your-email@gmail.com"
# Penting: Ini bukan password Gmail Anda, tapi "App Password"
# yang Anda buat dari pengaturan akun Google.
MAIL_PASSWORD=

# --- TAMBAHKAN BARIS INI ---
# Seringkali sama dengan MAIL_USERNAME
MAIL_DEFAULT_SENDER="your-email@gmail.com"

# --- KONFIGURASI RECAPTCHA ---
# Dapatkan kunci ini dari Google reCAPTCHA Admin Console
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=

# --- FONNTE ---
WA_API_URL= 
WA_API_TOKEN=